[Unit]
Description=cava1
 
[Service]
Type=simple
WorkingDirectory=/home/volumio
ExecStart=/usr/local/bin/cava -p /home/volumio/NR1-UI/ConfigurationFiles/cava1/config
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=cava1
User=volumio
Group=volumio
 
[Install]
WantedBy=multi-user.target
