[Unit]
Description=NR1-UI38-conf
 
[Service]
Type=simple
WorkingDirectory=/home/volumio
ExecStart=/home/volumio/src/Python-3.8.5/bin/python3.8 -u /home/volumio/NR1-UI/nr1ui38-conf.py
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=nr1ui38-conf
User=volumio
Group=volumio
 
[Install]
WantedBy=multi-user.target
