[Unit]
Description=NR1-UI
 
[Service]
Type=simple
WorkingDirectory=/home/volumio
ExecStart=/usr/local/bin/python3 -u /home/volumio/NR1-UI/nr1ui.py
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=nr1ui
User=volumio
Group=volumio
 
[Install]
WantedBy=multi-user.target
